body {
  font-family: sans-serif;
  background-image: url("http://moziru.com/images/toy-story-clipart-etch-a-sketch-8.jpg");
  background-size: cover;
}

canvas {
  border: 3px solid red;
  position: absolute;
  bottom: 75px;
  right: 260px;
}
